<div class="container">

  <div>
    <a routerLink="/conversion-add-form">Add with Form</a> |
    <a routerLink="/conversion-add">Add Simple</a> |
    <a routerLink="/conversion-list">List</a> |
    <a routerLink="/conversion-search">Search</a>
  </div>

  <div >
      <h2>Conversion</h2>
      <form>
        <div class="form-group">
          <label>Value:</label>
          <input [(ngModel)]="value" type="text" class="form-control" name="value">
        </div>
        <div class="form-group">
          <label>From:</label>
          <select [(ngModel)]="from" class="form-control" name="from">
            <option *ngFor="let type of typeConversionList" [value]="type">{{type.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>To:</label>
          <select [(ngModel)]="to" class="form-control" name="to">
            <option *ngFor="let type of typeConversionList" [value]="type">{{type.name}}</option>
          </select>
        </div>
        <button type="button" (click)="onPressConversion()" class="btn btn-primary btn-lg btn-block">Convert</button>
    </form>
  </div>

</div>
